<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="refresh" content="30">
    <title>My bus stop - Real time data</title> 
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>   
    <script src="http://momentjs.com/downloads/moment.min.js"></script>
    <script src="http://momentjs.com/downloads/moment-with-locales.js"></script>
	<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="ruterAPI.js"></script>
</head>
<body style="margin-top:2%;font-size:14px;font-family:Open Sans;padding-left:2%;padding-right:2%;" ng-app="myBusStopApp">
<div class="main_wrapper">
<div class="rutetabell">
<div ng-controller="myBusStopCtrl">
    <center>
    <div class="table-responsive" style="max-width:800px;">
    <div class='clock'></div>
    <h3>Buss mot Oslo</h3>
    <table class="table table-striped" ng-show="realTimeData.length>0">
        <thead>
            <tr class="info">
            <th>Buss#</th>
            <th>Destinasjon</th>
           <th>Rutetid</th>
            <th>Bussen kommer om</th>
            <th>Plattform</th>          
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in realTimeData | filter:{DirectionRef: '2', LineRef: '83'}">
                <td>{{item.PublishedLineName}}</td>
                <td>{{item.DestinationName}}</td>
               <td>{{item.ExpectedDepartureTime | Arrival}}</td>
                <td>{{item.ExpectedArrivalTime | fromNow }}</td>
                <td>{{item.DeparturePlatformName}}</td>                
            </tr>
        </tbody>
    </table>
    <h3>Buss mot Tårnåsen</h3>
    <table class="table table-striped" ng-show="realTimeData.length>0">
        <thead>
            <tr class="info">
            <th>Buss#</th>
            <th>Destinasjon</th>
            <th>Rutetid</th>
            <th>Bussen kommer om</th>
            <th>Plattform</th>          
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in realTimeData | filter:{DirectionRef: '1', LineRef: '83'}">
                <td>{{item.LineRef}}</td>
                <td>{{item.DestinationName}}</td>
                <td>{{item.ExpectedDepartureTime | Arrival}}</td>
                <td>{{item.ExpectedArrivalTime | fromNow }}</td>
                <td>{{item.DeparturePlatformName}}</td>                
            </tr>
        </tbody>
    </table>
</div>
</center>
</div>
<div ng-controller="myTrainStopCtrl">
    <center>
    <div class="table-responsive" style="max-width:800px;">
	<h3>Tog til Oslo</h3>
    <table class="table table-striped" ng-show="realTimeData.length>0">
        <thead>
            <tr class="info">
            <th>Tog#</th>
            <th>Destinasjon</th>
            <th>Rutetid</th>
            <th>Toget kommer om</th>
            <th>Plattform</th>         
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in realTimeData | filter:{DirectionRef: '2'} | limitTo:quantity">
                <td>{{item.PublishedLineName}}</td>
                <td>{{item.DestinationName}}</td>
                <td>{{item.ExpectedDepartureTime | Arrival}}</td>
                <td>{{item.ExpectedArrivalTime | fromNow }}</td>
                <td>{{item.DeparturePlatformName}}</td>                
            </tr>
        </tbody>
    </table>
    <h3>Tog til Ski</h3>
    <table class="table table-striped" ng-show="realTimeData.length>0">
        <thead>
            <tr class="info">
            <th>Tog#</th>
            <th>Destinasjon</th>
            <th>Rutetid</th>
            <th>Toget kommer om</th>
            <th>Plattform</th>         
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in realTimeData | filter:{DirectionRef: '1'} | limitTo:quantity">
                <td>{{item.PublishedLineName}}</td>
                <td>{{item.DestinationName}}</td>
                <td>{{item.ExpectedDepartureTime | Arrival}}</td>
                <td>{{item.ExpectedArrivalTime | fromNow }}</td>
                <td>{{item.DeparturePlatformName}}</td>                
            </tr>
        </tbody>
    </table>
</div>
</center>
</div>
</div>
</div>
<script src="js/clock1.js"></script>
</body>
</html>