@import url('http://fonts.googleapis.com/css?family=Lato:300,400,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3 {text-align: left;}

.main_wrapper {display:block;}
.rutetabell{display:block;}
.clock {
  position: relative;
  top: 50%;
  /*width: 250px;*/
  /*margin-top: -45px;
  margin-left: -175px;*/
  text-align: left;
  overflow: hidden;
}

.clock span {
  position: relative;
  display: inline-block;
  width: 30px;
}

.clock span:nth-child(2),
.clock span:nth-child(4) {
  border-right: 1px solid #aaa;
}
.clock span:nth-child(3),
.clock span:nth-child(5){
  margin-left: 10px;
}

.clock span:before,
.clock span:after {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  backface-visibility: hidden;
  transition: transform .75s;
}

.clock span:before {
  content: attr(data-old);
  z-index: 1;
  transform: translate3d(0, 0, 0);
}

.clock .flip:before {
  transform: translate3d(0, 102.5%, 0);
}

.clock span:after {
  content: attr(data-now);
  z-index: 2;
  transform: translate3d(0, -102.5%, 0);
}

.clock .flip:after {
  transform: translate3d(0, 0, 0);
}